
.hero-wrap {
	width: 100%;
	height: 100%;
	position: inherit;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
}

@media (max-width: 1199.98px) {
	.hero-wrap {
		background-position: center center !important;
	}
}

.hero-wrap .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	opacity: .4;
	background: #000000;
}

.hero-wrap.hero-wrap-2 {
	height: 400px;
}

.hero-wrap.hero-wrap-2 .overlay {
	opacity: .6;
	background: #1ba12d;
}

.hero-wrap.hero-wrap-2 .slider-text {
	height: 400px;
}

.hero-wrap.hero-wrap-2 .slider-text h1 {
	font-weight: 400;
	font-size: 40px;
}

.hero-wrap .slider-text h1 {
	color: #fff;
	line-height: 1.2;
	font-family: "Montserrat", Arial, sans-serif;
}

@media (max-width: 991.98px) {
	.hero-wrap .slider-text h1 {
		font-size: 40px;
	}
}

.hero-wrap .slider-text h1 span {
	color: #1ba12d;
}

.hero-wrap .slider-text .subheading {
	font-size: 15px;
	color: #1ba12d;
	text-transform: uppercase;
	font-family: "Montserrat", Arial, sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
}

.hero-wrap .slider-text p {
	font-size: 18px;
	line-height: 1.5;
	color: rgba(255, 255, 255, 0.7);
}

.hero-wrap .slider-text p strong {
	font-weight: 700;
}

.hero-wrap .slider-text p strong a {
	color: #000000;
}

.hero-wrap .slider-text .breadcrumbs {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 20px;
	z-index: 99;
}

.hero-wrap .slider-text .breadcrumbs span {
	color: rgba(255, 255, 255, 0.5);
}

.hero-wrap .slider-text .breadcrumbs span i {
	color: rgba(255, 255, 255, 0.3);
}

.hero-wrap .slider-text .breadcrumbs span a {
	color: rgba(255, 255, 255, 0.7);
}

.hero-wrap .slider-text .breadcrumbs span a:hover,
.hero-wrap .slider-text .breadcrumbs span a:focus {
	color: #1ba12d;
}

.hero-wrap .slider-text .breadcrumbs span a:hover i,
.hero-wrap .slider-text .breadcrumbs span a:focus i {
	color: #1ba12d;
}

.owl-carousel {
	position: relative;
}

.owl-carousel .owl-item {
	opacity: 1;
}

.owl-carousel .owl-item.active {
	opacity: 1;
}

.owl-carousel .owl-dots {
	text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
	width: 10px;
	height: 10px;
	margin: 5px;
	border-radius: 50%;
	background: #e6e6e6;
	position: relative;
}

.owl-carousel .owl-dots .owl-dot:after {
	position: absolute;
	top: -2px;
	left: -2px;
	right: 0;
	bottom: 0;
	width: 14px;
	height: 14px;
	content: '';
	border: 1px solid #4d4d4d;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

.owl-carousel .owl-dots .owl-dot:hover,
.owl-carousel .owl-dots .owl-dot:focus {
	outline: none !important;
}

.owl-carousel .owl-dots .owl-dot.active {
	background: #b3b3b3;
}

.owl-carousel .owl-dots .owl-dot.active:after {
	border-color: #fff;
}

.owl-carousel.home-slider {
	position: relative;
	height: 700px;
	z-index: 0;
}

.owl-carousel.home-slider .slider-item {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 700px;
	position: relative;
	z-index: 0;
	overflow: hidden;
}

.owl-carousel.home-slider .slider-item .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	background: #000000;
	opacity: .2;
	width: 100%;
	padding: 0;
	z-index: 0;
}

@media (max-width: 1199.98px) {
	.owl-carousel.home-slider .slider-item {
		background-position: center center !important;
	}
}

.owl-carousel.home-slider .slider-item .slider-text {
	height: 700px;
	position: relative;
}

.owl-carousel.home-slider .slider-item .slider-text .text {
	z-index: 0;
	color: rgba(255, 255, 255, 0.9);
}

.owl-carousel.home-slider .slider-item .slider-text h1 {
	font-size: 50px;
	font-weight: 700;
	color: #fff;
	line-height: 1.3;
	text-shadow: 0px 3px 25px rgba(0, 0, 0, 0.1);
}

@media (max-width: 991.98px) {
	.owl-carousel.home-slider .slider-item .slider-text h1 {
		font-size: 40px;
		letter-spacing: 3px;
	}
}

.owl-carousel.home-slider .slider-item .slider-text h2 {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: "Montserrat", Arial, sans-serif;
	font-weight: 600;
	color: #58e36b;
	display: inline-block;
	position: relative;
	letter-spacing: 4px;
}

.owl-carousel.home-slider .owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
}

.owl-carousel.home-slider .owl-nav .owl-prev,
.owl-carousel.home-slider .owl-nav .owl-next {
	position: absolute;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	outline: none !important;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	opacity: 0;
}

.owl-carousel.home-slider .owl-nav .owl-prev span:before,
.owl-carousel.home-slider .owl-nav .owl-next span:before {
	font-size: 30px;
	color: rgba(255, 255, 255, 0.5);
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.owl-carousel.home-slider .owl-nav .owl-prev:hover span:before,
.owl-carousel.home-slider .owl-nav .owl-prev:focus span:before,
.owl-carousel.home-slider .owl-nav .owl-next:hover span:before,
.owl-carousel.home-slider .owl-nav .owl-next:focus span:before {
	color: #fff;
}

.owl-carousel.home-slider .owl-nav .owl-prev {
	left: 0;
	margin-left: 0;
}

.owl-carousel.home-slider .owl-nav .owl-next {
	right: 0;
	margin-right: 0;
}

.owl-carousel.home-slider:hover .owl-nav .owl-prev,
.owl-carousel.home-slider:hover .owl-nav .owl-next {
	opacity: 1;
}

.owl-carousel.home-slider:hover .owl-nav .owl-prev {
	margin-left: 50px;
}

.owl-carousel.home-slider:hover .owl-nav .owl-next {
	margin-right: 50px;
}

.owl-carousel.home-slider .owl-dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 40px;
	width: 100%;
	text-align: center;
}

@media (max-width: 767.98px) {
	.owl-carousel.home-slider .owl-dots {
		bottom: 5px;
	}
}

.owl-carousel.home-slider .owl-dots .owl-dot {
	width: 10px;
	height: 10px;
	margin: 5px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.4);
}

.owl-carousel.home-slider .owl-dots .owl-dot.active {
	background: #fff;
}

.owl-carousel.owl-drag .owl-item {
	-ms-touch-action: pan-y;
	touch-action: pan-y;
}

.owl-carousel {
	position: relative;
}

.owl-carousel .owl-item {
	opacity: .4;
}

.owl-carousel .owl-item.active {
	opacity: 1;
}

.owl-carousel .owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
	position: absolute;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-top: -10px;
	color: #1ba12d !important;
	-moz-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	-webkit-transition: all 0.7s ease;
	-ms-transition: all 0.7s ease;
	transition: all 0.7s ease;
	opacity: 0;
}

.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
	font-size: 30px;
}

.owl-carousel .owl-nav .owl-prev {
	left: 0;
}

.owl-carousel .owl-nav .owl-next {
	right: 0;
}

.owl-carousel .owl-dots {
	text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
	width: 10px;
	height: 10px;
	margin: 5px;
	border-radius: 50%;
	background: #e6e6e6;
	position: relative;
}

.owl-carousel .owl-dots .owl-dot:after {
	position: absolute;
	top: -2px;
	left: -2px;
	right: 0;
	bottom: 0;
	width: 14px;
	height: 14px;
	content: '';
	border: 1px solid #e6e6e6;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

.owl-carousel .owl-dots .owl-dot.active {
	background: #b3b3b3;
}

.owl-carousel:hover .owl-nav .owl-prev,
.owl-carousel:hover .owl-nav .owl-next {
	opacity: 1;
}

.owl-carousel:hover .owl-nav .owl-prev {
	left: -25px;
}

.owl-carousel:hover .owl-nav .owl-next {
	right: -25px;
}

.owl-custom-nav {
	float: right;
	position: relative;
	z-index: 10;
	border: 1px solid red;
}

.owl-custom-nav .owl-custom-prev,
.owl-custom-nav .owl-custom-next {
	padding: 10px;
	font-size: 30px;
	background: #ccc;
	line-height: 0;
	width: 60px;
	text-align: center;
	display: inline-block;
}

.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot{background:0 0;color:inherit;border:none;padding:0!important;font:inherit}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-ms-touch-action:none;touch-action:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item img.owl-lazy{-webkit-transform-style:preserve-3d;transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:-webkit-transform .1s ease;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-webkit-transform:scale(1.3,1.3);-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}

.owl-theme .owl-dots,
.owl-theme .owl-nav{text-align:center;-webkit-tap-highlight-color:transparent}
.owl-theme .owl-nav{margin-top:10px}
.owl-theme .owl-nav [class*=owl-]{color:#FFF;font-size:14px;margin:5px;padding:4px 7px;background:#D6D6D6;display:inline-block;cursor:pointer;border-radius:3px;position: absolute;}
.owl-theme .owl-nav [class*=owl-]:hover{background:#869791;color:#FFF;text-decoration:none}
.owl-theme .owl-nav .disabled{opacity:.5;cursor:default}
.owl-theme .owl-nav.disabled+.owl-dots{margin-top:10px}
.owl-theme .owl-dots .owl-dot{display:inline-block;zoom:1}
.owl-theme .owl-dots .owl-dot span{width:10px;height:10px;margin:5px 7px;background:#D6D6D6;display:block;-webkit-backface-visibility:visible;transition:opacity .2s ease;border-radius:30px}
.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background:#869791}




